*.o
*.lo
*.so
*.la
*.a
*.dylib
*.d
*.log
*.info
*~
aclocal.m4
autom4te.cache/
config.log
config.status
compile
libtool
missing
restframes-config
*Makefile
*RestFrames_config.h
*stamp-h1
*.deps/
*.libs/
*Dict.cxx
*Dict.h
bin/
include/
libexec/