*.o
*.lo
*.so
*.la
*.a
*.dylib
*.d
*.log
*.info
*~
config.log
config.status
libtool
restframes-config
*Makefile
*RestFrames_config.h
*stamp-h1
*.deps/
*.libs/
*Dict.cxx
*Dict.h
bin/
lib/
include/
libexec/