<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/res/favicon.ico">

<link rel="apple-touch-icon" href="{{site.baseurl}}/res/favicon.ico">
<link rel="apple-touch-icon" href="{{site.baseurl}}/res/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/res/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/res/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/res/touch-icon-ipad-retina.png">