<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}RestFrames</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if page.title != "Archive (sidebar)" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endif %}
    <base href="{{site.baseurl}}"/>
    <link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen, projection" href="{{site.baseurl}}/res/screen.css" type="text/css">
    <link rel="stylesheet" media="print" href="{{site.baseurl}}/res/print.css" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="RestFrames" href="{{site.baseurl}}/atom.xml">

   {% include favicon.html %}

    {% if page.ios_app_name %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% endif %}
   
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
      {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta name="og:description" content="{{ page.description }}">
      {% else if content %}
      <meta name="description" content="{{ content | strip_html | truncatewords: 25 }}">
      <meta name="og:description" content="{{ content | strip_html | truncatewords: 25 }}">
      {% endif %}
    {% else %}
      <meta name="description" content="RestFrames">
    {% endif %}
    {% if page.og_image_url %}
    <meta property="og:image" content="{{ page.og_image_url }}">
    {% else %}
    {% if page.photo_url %}
    <meta property="og:image" content="{{ page.photo_url }}">
    {% endif %}
    {% endif %}
    <meta property="og:url" content="http://RestFrames.com{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="RestFrames.com">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_GB" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
    {% endif %}
    {% if page.title != "Archive (sidebar)" %}
    {% include sidebar_ui_controller.html %}
    {% endif %}
    {% if page.include_move %}
    <script src="http://movelang.org/move.js"></script>
    {% endif %}
  </head>
  <body{% if page.wide_layout %} class="wide"{% endif %}>
    <!--script>/*
      var s;
      if (document.location.hostname === 'RestFrames.com') {
        s = document.createElement('script');
        s.async = true;
        s.src = "http://connect.facebook.net/en_US/all.js#appId=38027689216&xfbml=1";
        document.getElementsByTagName('head')[0].appendChild(s);
      }
      
      if (window.navigator.userAgent.indexOf('iPad') != -1) {
        document.documentElement.className = 'ios ipad';
        window.rsmsHostIsIOS = 'ipad';
      } else if (window.navigator.userAgent.indexOf('iPhone') != -1) {
        document.documentElement.className = 'ios iphone';
        window.rsmsHostIsIOS = 'iphone';
      }
    */</script>
    <div id="fb-root"></div><script></script-->
    <iframe id="sidebar"></iframe>

    {% include header.html %}

    <!--div class="wrapper content"-->
      {{ content }}
    <!--/div-->
    
    {% if paginator.page %}
    <div id="paginator" class="content">
      {% if paginator.next_page %}
      <a href="{{site.baseurl}}/page{{ paginator.next_page }}/">Older entries</a>
      {% endif %}
      {% if paginator.previous_page %}
      <a href="{{site.baseurl}}/page{{ paginator.previous_page }}/">Newer entries</a>
      {% endif %}
    </div>
    {% endif %}
    
    {% unless page.no_footer %}
    {% include footer.html %}
    {% endunless %}
    
    {% include highlight.html %}
    {% include analytics.html %}
    
  </body>
</html>
